.profile-header
    img.profile-header__img(src=picture_url)
    span.profile-header__name-surname #{first_name} #{surname}
    span.profile-header__label-reg-data На сайте с:
    span.profile-header__reg-data #{register_date}
    .profile-header__subscrivers-block
        span.profile-header__subscribers-count #{sub_count}
        span.profile-header__label-subscribers-count Подписчики
    .profile-header__bookmark-block
        span.profile-header__bookmark-count #{bookmark_count}
        span.profile-header__label-bookmark-count В закладках
