.profile-header(data-user=id)
    img.profile-header__img(src=profile_pic)
    .profile-header__data-block
        span.profile-header__name-surname #{first_name} #{surname}
        span.profile-header__label-reg-data На сайте с:
        span.profile-header__reg-data #{register_date}
    .profile-header__subscribers-block
        .profile-header__subscribers-img
        span.profile-header__subscribers-count #{sub_count}
        span.profile-header__label-subscribers-count Подписчики
    .profile-header__bookmark-block
        .profile-header__bookmarks-img
        span.profile-header__bookmark-count #{bookmark_count}
        span.profile-header__label-bookmark-count В закладках
