div.review-info
    div(class=`review-info__review ${classType}`)
        div.review-info__review_user-info
            div.review-info__review_user-info_avatar
                img(src=authorAvatar)
            div.review-info__review_user-info_right
                div.review-info__review_user-info_right_review Автор
                    span
                        = ' '
                    span.review-info__review_user-info_right_review_name #{authorName}
                    div.review-info__review_user-info_right_review_buttons
                        button(type="button" class=`button-type ${classButtonType}`) Подписаться
                        button(type="button" class=`button-type ${classButtonType}`) Посмотреть другие отзывы этого автора
                div.review-info__review_user-info_right_date #{date}
        div.review-info__review_text #{reviewText}












