div.wrapper
    main.page
        div(class = "review page__container _container")
            div(class=`review-info__container ${classType}`)
                div.review-info__user-info
                    div.review-info__avatar
                        img(src=authorAvatar)
                    div.review-info__right
                        div.review-info__name-and-buttons
                            a(class = "review-info__author-name" href=`${href}`) #{authorName}
                            div.review-info__review_buttons
                                a( class=`type-button button ${classButtonType}` href=`${href}`) Посмотреть другие отзывы этого пользователя
                            //TODO: сделать реализацию этих кнопок
                            //button(type="button" class=`button-type disabled  ${classButtonType}`) Подписаться
                        div.review-info__date #{date}
                div.review-info__text #{reviewText}
