.profile_header
    img.profile-img(src=picture_url)
    span.name-surname #{first_name} #{surname}
    p На сайте с:
    span.reg-data #{register_date}
    .subscrivers-block
        span.subscribers-count #{sub_count}
        p Подписчики
    .bookmark-block
        span.bookmark-count #{bookmark_count}
        p В закладках
