.profile_header
    img.profile-img(src=picture_url)
    span.name-surname #{first_name} #{surname}
    span.label-reg-data На сайте с:
    span.reg-data #{register_date}
    .subscrivers-block
        span.subscribers-count #{sub_count}
        span.label-subscribers-count Подписчики
    .bookmark-block
        span.bookmark-count #{bookmark_count}
        span.label-bookmark-count В закладках
