.profile-content
    each block in review_list
      .review-block
          img.film-img(src=block.film_picture_url)
          span #{block.stars}
          span.film-name-ru #{block.film_title_ru}
          span.film-name-en #{block.film_title_original}
          if (block.review_text)
              span.review-text #{block.review_text}
              a.to-review(href=block.review_url)
          else
              a.write-review(href=block.film_id)
