each block in review_list
    .review-block
        img.film-img(src=block.film_picture_url)
        span.stars-block #{block.stars} stars
        a.film-name-ru(href=block.film_url) #{block.film_title_ru}
        span.film-name-en #{block.film_title_original}
        if (block.review_text)
            q.review-text #{block.review_text}
            a.to-review(href=block.review_url)
                .to-review-btn
                    span К отзыву
        else
            a.write-review(href=block.film_url)
                .write-review-btn
                    span Написать отзыв
.more-btn
    span Далее
