include ../filmCard/filmCard
include ../slider/slider
div.actor-info
    div.actor-info__container
        div.actor-info__container_pic-actor
            img(src=picture_url)
        div.actor-info__container_text
            div.actor-info__container_text_name
                div.actor-info__container_text_name_rus #{name_rus}
                div.actor-info__container_text_name_en #{name_en}
            div.actor-info__container_text_title-facts О персоне
            div.actor-info__container_text_facts
                div.actor-info__container_text_facts_container
                    div.actor-info__container_text_facts_container_key Карьера
                    div.actor-info__container_text_facts_container_value #{career}
                div.actor-info__container_text_facts_container
                    div.actor-info__container_text_facts_container_key  Рост
                    div.actor-info__container_text_facts_container_value #{height}
                div.actor-info__container_text_facts_container
                    div.actor-info__container_text_facts_container_key  Дата рождения
                    div.actor-info__container_text_facts_container_value #{date}
                div.actor-info__container_text_facts_container
                    div.actor-info__container_text_facts_container_key  Место рождения
                    div.actor-info__container_text_facts_container_value #{birth_place}
                div.actor-info__container_text_facts_container
                    div.actor-info__container_text_facts_container_key  Семейное положение
                    if family_status == "married"
                        if gender == "male"
                            div.actor-info__container_text_facts_container_value Женат
                        else
                            div.actor-info__container_text_facts_container_value Замужем
                    else
                        div.actor-info__container_text_facts_container_value -
                div.actor-info__container_text_facts_container
                    div.actor-info__container_text_facts_container_key  Всего фильмов
                    div.actor-info__container_text_facts_container_value #{film_number}
            a(class="button-with-border scroll-to" href="#biography") Биография
    div.place-between-blocks
    div.actor-info__black-container
        div.name-of-topic Популярные фильмы с актером
        +slider(filmsToSlide)
        div.place-between-blocks
        div.name-of-topic Полная фильмография
        div.actor-info__black-container_films-with-description
            div.actor-info__black-container_films-with-description_container
              - for (let i = 0; i < limit; i++)
              +filmCard(filmsWithDescription[i])
            button(type="button" class=" show-more-films button-more ") Показать еще
    div.place-between-blocks
    div.name-of-topic#biography Биография
    div.actor-info__biography #{biography}

