div.place-between-blocks
div.content__actor-info
    div.actor-info__container
        div.container__pic-actor
            img(src=picture_url)
        div.actor-info__text
            div.name
                div.text__name-rus #{name_rus}
                div.text__name-en #{name_en}
            div.text__title-facts О персоне
            div.facts
                div.title-facts__container
                    div.title-facts__container_key Карьера
                    div.title-facts__container_value #{career}
                div.title-facts__container
                    div.title-facts__container_key Рост
                    div.title-facts__container_value #{height}
                div.title-facts__container
                    div.title-facts__container_key Дата рождения
                    div.title-facts__container_value #{date}
                div.title-facts__container
                    div.title-facts__container_key Место рождения
                    div.title-facts__container_value #{birth_place}
                div.title-facts__container
                    div.title-facts__container_key Семейное положение
                    if family_status=="married"
                        if gender == "male"
                            div.title-facts__container_value Женат
                        else
                            div.title-facts__container_value Замужем
                    else
                        div.title-facts__container_value -
                div.title-facts__container
                    div.title-facts__container_key Всего фильмов
                    div.title-facts__container_value #{film_number}
            a(class="button button-show-more scroll-to" href="#biography") Биография
    div.place-between-blocks
    div.actor-info__background
        p.name-of-topic Популярные фильмы с актером
        div.film-container__carousel
          each input, index in films_to_slide
              if index < 6
                  div.carousel_film-collection(href= input.href)
                      div.film-collection_pic
                        img(src= input.film_avatar alt= input.alt)
                      div.carousel_film_name
                          a(href= "#")= input.title
        div.place-between-blocks
        p.name-of-topic Полная фильмография
        div.actor-film__back
            each input, index in films_with_description
              div.actor-film__background
                div.pic-full-film-descr
                    img(src=input.film_avatar)
                div.text-full-film-descr
                    div.name-film-full-decrtip #{input.title}
                        div.year-of-film #{input.year}
                    div.film-description #{input.description}
                    button(type='button' class="button-pink" ) Подробнее
    div.place-between-blocks
    p.name-of-topic#biography Биография

    div.text-full-biography #{biography}

