include ../filmCard/filmCard
include ../slider/slider
div.place-between-blocks
div.content__actor-info
    div.actor-info__container
        div.container__pic-actor
            img(src=picture_url)
        div.actor-info__text
            div.name
                div.text__name-rus #{name_rus}
                div.text__name-en #{name_en}
            div.text__title-facts О персоне
            div.facts
                div.title-facts__container
                    div.title-facts__container_key Карьера
                    div.title-facts__container_value #{career}
                div.title-facts__container
                    div.title-facts__container_key Рост
                    div.title-facts__container_value #{height}
                div.title-facts__container
                    div.title-facts__container_key Дата рождения
                    div.title-facts__container_value #{date}
                div.title-facts__container
                    div.title-facts__container_key Место рождения
                    div.title-facts__container_value #{birth_place}
                div.title-facts__container
                    div.title-facts__container_key Семейное положение
                    if family_status == "married"
                        if gender == "male"
                            div.title-facts__container_value Женат
                        else
                            div.title-facts__container_value Замужем
                    else
                        div.title-facts__container_value -
                div.title-facts__container
                    div.title-facts__container_key Всего фильмов
                    div.title-facts__container_value #{film_number}
            a(class="button button-show-more scroll-to" href="#biography") Биография

    div.place-between-blocks

    div.actor-info__background
        div.container-actor
            p.name-of-topic Популярные фильмы с актером
                div.wrapper
                    +slider(filmsToSlide)
                    img(class=" btn-prev slider-film-card__item slider-film-card__item-left " src= "../../static/pics/left_arrow.webp" alt= "")
                    img(class=" btn-next slider-film-card__item slider-film-card__item-right " src="../../static/pics/right_arrow.webp" alt= "")

            div.place-between-blocks
            p.name-of-topic Полная фильмография
            div.actor-film__back
                div.showMoreContainer
                    - for (let i = 0; i < 3; i++)
                        +filmCard(filmsWithDescription[i])
                button(type="button" class=" next-page hiddens") Загрузить еще


    div.place-between-blocks
    div.name-of-topic#biography Биография
    div.text-full-biography #{biography}

