- var beginYear = yearBegin;
- var endYear = yearEnd;
.random-page
    span.random-page__title Рандомный фильм
    include ./carousel.pug
    .random-page__inputs-block
        label.random-page__label(for='year_from') Выберите год с
        select.random-page__year_from(id='year_from')
            while beginYear < endYear
              option.random-page__option #{beginYear}
              - beginYear++
        -beginYear = yearBegin
        label.random-page__label(for='year_to') Выберите год по
        select.random-page__year_to(id='year_to')
            while beginYear < endYear
                option.random-page__option(selected="selected") #{beginYear}
                - beginYear++
        .random-page__genres Выберите жанры
            .genres-container
                each genre in genresList
                  label.genres-container__label(for=genre.id)
                    input.genres-container__input(type='checkbox' id=genre.id)
                    span #{genre.name}
    .random-page__submit-btn.profile__more-btn Рандом
