mixin filmCard (i)
    div.film__item
        a(class = "poster _ibg" href=`${i.href}`)
            img(src=i.filmAvatar alt ="")
        div.film__info
            a(class = "film__name" href=`${i.href}`) #{i.title}
            div.film__year #{i.year}
            div.film__description #{i.description}
            a(class="pink-button" href=`${i.href}`) Подробнее
