.auth-content
    div(class=auth ? 'auth' : 'reg')
        if auth
            .auth-head Авторизация
        else
            .auth-head Регистрация
        form.auth-form(name=authFormName)
            each input in inputs
                input(
                    type=input.type
                    name=input.name
                    placeholder=input.placeholder
                    class='text-inputs'
                )
            input.auth-btn(type='button' name=submitButtonName value=auth ? 'Войти' : 'Создать аккаунт')
        if auth
            a.auth-a(data-link='signup') Еще нет аккаунта?
        else
            a.auth-a(data-link='login') Уже есть аккаунт?