- var currClass = auth ? 'auth' : 'reg'

.auth-content
    div(class=currClass)
        if auth
            div(class=`${currClass}__head`) Авторизация
        else
            div(class=`${currClass}__head`) Регистрация
        form(class=`${currClass}__form` name=authFormName)
            each input in inputs
                input(
                    type=input.type
                    name=input.name
                    id=input.name
                    placeholder=input.placeholder
                    class='text-inputs'
                )
                //label(for=input.name class='.text-field__label') #{input.placeholder}
            input(class=`${currClass}__btn` type='button' name=submitButtonName value=auth ? 'Войти' : 'Создать аккаунт')
        if auth
            a(href='/reg') Еще нет аккаунта?
        else
            a(href='/auth') Уже есть аккаунт?
