mixin reviewSlider(i)
    div.slider#review-slider
        div.slider-list
            div(class ="slider-track review-slider__track")
              each review, _ in i
                  if review.type === 3
                      div(class ="slide")
                          div.review-slider__indent
                            a(class='green review-slider__item' href=`${review.href}`)
                              div.review-slider__name #{review.author} #{i.type}
                              div.review-slider__text #{review.text}
                              div.review-slider__date #{review.date}
                  else if review.type === 2
                      div(class ="slide")
                          div.review-slider__indent
                            a(class='grey review-slider__item' href=`${review.href}`)
                              div.review-slider__name #{review.author} #{i.type}
                              div.review-slider__text #{review.text}
                              div.review-slider__date #{review.date}
                  else
                      div(class ="slide")
                          div.review-slider__indent
                            a(class='red review-slider__item' href=`${review.href}`)
                              div.review-slider__name #{review.author} #{i.type}
                              div.review-slider__text #{review.text}
                              div.review-slider__date #{review.date}
        div.slider-arrows
            div(class="prev slider__button slider__button_left")
            div(class="next slider__button slider__button_right")
