.navbar
    img.logo(src=staticPath + 'pics/logo.svg')
    .wide-menu
        each btn in btns
            div.menu-btn= btn
        .menu-btn
            include /static/pics/cube.svg
    .search-div
        input.search-input(placeholder='Фильмы, сериалы, актёры')
        img.search-btn(src=staticPath + 'pics/search.svg')
    if authorized
        //img.user-pic(src=#{picSrc})
        p.login-btn #{userName}
    else
        .login-btn Войти
