include ../filmCard/filmCard
include ../slider/slider
include ../reviewSlider/reviewSlider
include ../writeReview/writeReview
div.wrapper
    div(class = "film page__container film__container")
        div(class ="info block")
            div(class = " info__pic")
                img(class = "film__pic" src=film.filmAvatar)
                div.film__background
                    img(src=film.filmAvatar)
                    div.film__poster
                        img(src=film.filmAvatar)
                if (!bookmarked)
                    div(class = "bookmark not_favourite")
                else
                    div(class = "bookmark favourite")
            div(class ="film__text info__text")
                div.info__main
                    div.info__name
                        div.info__rus-name #{film.title}
                        div.info__en-name #{film.titleOriginal}
                    div.star-rating
                        div(class ="rating-number-stars star-rating__scors")  #{film.rating}
                            div(class = "star-rating__pic")
                        div.bookmark-phone
                            if (!bookmarked)
                                div(class = "bookmark_mobile")
                                div.bookmark-text В избранное
                            else
                                div(class = "bookmark_mobile in-favourite")
                                div.bookmark-text В избранном
                div.info__facts-container
                    div.info__heading-facts О фильме
                    div(class = "fact film__fact")
                        div(class = "fact__key fact__key_invisible") Год производсва
                        div.fact__value #{film.year}
                    div(class = "fact film__fact")
                        div(class = "fact__key fact__key_invisible") Страна
                        div.fact__value #{film.countryOriginal}

                    div(class = "fact film__fact")
                        div(class = "fact__key fact__key_invisible") Продолжительность
                        div.fact__value #{film.duration}
                    div(class = "fact film__fact")
                        div(class = "fact__key fact__key_invisible")  Жанр
                        div.fact__value
                          each genre, index in film.genres
                              if index !== 0
                                  span
                                      = ',    '
                              a(class='change-color-text-href' href=`${genre.href}`) #{genre.name}
                    div(class = "fact film__fact")

                    div(class = "fact film__fact")
                        div.fact__key  Режиссёр
                        div.fact__value #{film.director}
                    div(class = "fact film__fact")
                        div.fact__key Сценарист
                        div.fact__value #{film.screenwriter}
                    div(class = "fact film__fact")
                        div.fact__key В ролях
                        div.fact__value
                          each actor, index in film.actors
                              if index != 0
                                  span
                                      = ',    '
                              a(class='change-color-text-href' href=`${actor.href}`) #{actor.name}
        div(class = "trailer block")
            div(class = "trailer__video")
                a(class ="trailer__button button" ref=`${film.trailerUrl}`) Трейлер
            div.trailer__description
                div(class = "trailer__name block-subtitle") Обзор
                div.trailer__summery #{film.description}
        div(class = "film-info black-container block")
            div(class ="film-info__rating ")
                div(class = "block-subtitle rating-subtitle") Рейтинг фильма
                div(class ="rating")#review
                    div.rating__stars
                      - for (let i = 1; i <= 10; i++)
                        div.rating__item
                            if (i===1 || myRating>=i)
                              div(class="rating-item active" data-rate=`${i}`)
                            else
                                div(class="rating-item" data-rate=`${i}`)
                            div.rating__number #{i}
                    div.rating__score
                        div(class = "rating-number rating__text-number") #{film.rating}
                            div.rating__text-underline
                    //if (myReview.reviewText !== 0)
                    //    a(class="button__write-review scroll-to" href="#review") Посмотреть отзыв
                    //else
                    //    a(class="button__write-review scroll-to" href="#review") Написать отзыв
                div.user-rating
                    if myRating > 1
                        include ../userRating/userRating.pug
            div.film-info__reviews
            if (reviews.length !== 0)
                div.block-subtitle Отзывы
                +reviewSlider(reviews)

        div(class ="film__show-more  block ")
            div.block-subtitle С фильмом
                span
                    = ' '
                span.color-text-pink #{film.title}
                span
                    = ' смотрят'
            +slider(recommendations)
        div(class ="film-review film__block")
            if (myReview.reviewText === 0)
                div(class = "block-subtitle film-review__subtitle")#review Написать отзыв
                +inputReview
            else
                div.block-subtitle#review Мой отзыв
                div(class=`review-info__container ${myReview.classType}`)
                    div.review-info__review_text #{myReview.reviewText}
                    div.film-review__date #{myReview.date}
